# Object files
*.o
*.pyc
*.mod

# Libraries
*.lib
*.a
.DS_Store

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


#Misc.
*~
.project
spectra/*
opacity/*
python/*
Variable_evolution/*
camb.dSYM/*
